<div class="container-fluid bg-dark pt-5 px-sm-3 px-md-5 mt-5">
  <div class="row py-4">
    <!--Contact Start-->
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="mb-4 text-white text-uppercase font-weight-bold">
        Liên hệ chúng tôi
      </h5>
      <p class="font-weight-medium">
        <i class="fa fa-map-marker-alt mr-2"></i><%=lienHe.dia_chi%>
      </p>
      <p class="font-weight-medium">
        <i class="fa fa-phone-alt mr-2"></i><%=lienHe.so_dien_thoai%>
      </p>
      <p class="font-weight-medium">
        <i class="fa fa-envelope mr-2"></i><%=lienHe.email%>
      </p>
      <h6 class="mt-4 mb-3 text-white text-uppercase font-weight-bold">
        Theo dõi chúng tôi
      </h6>
      <div class="d-flex justify-content-start">
        <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="<%=lienHe.link_facebook%>"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-lg btn-secondary btn-lg-square" href="<%=lienHe.link_youtube%>"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <!--Contact End-->
    <!--Popular News Start-->
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="mb-4 text-white text-uppercase font-weight-bold">
        Tin tức phổ biến
      </h5>
      <!--News Card Start-->
      <% if (xemNhieuNhat && xemNhieuNhat.length > 0) { %>
      <% xemNhieuNhat.forEach(function(news) { %>
      <div class="mb-3">
        <div class="mb-2">
          <a
            class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
            href="category/<%= news.id_danh_muc %>"
            ><%= news.ten_danh_muc %></a
          >
          <a class="text-body" href=""><small><%= news.ngay_dang %></small></a>
        </div>
          <a class="small text-body text-uppercase font-weight-medium" href="/single/<%= news.id %>"
            ><%= news.tieu_de %></a
          >
      </div>
      <% }); %>
      <% } %>
      <!--News Card End-->
    </div>
    <!--Popular News End-->
    <!--Category Start-->
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="mb-4 text-white text-uppercase font-weight-bold">Thể loại</h5>
      <div class="m-n1">
      <% if (danhMuc && danhMuc.length > 0) { %>
      <% danhMuc.forEach(function(cat) { %>
        <a href="/category/<%= cat.id_danh_muc %>" class="btn btn-sm btn-outline-secondary m-1">
            <%= cat.ten_danh_muc %>
        </a>
      <% }); %>
      <% } %>
      </div>
    </div>
    <!--Category End-->
    <!--News Photos Start-->
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="mb-4 text-white text-uppercase font-weight-bold">
        Tin tức nổi bật
      </h5>
      <div class="row">
        <!--News Photos Card Start-->
        <% if (xemNhieuNhat && xemNhieuNhat.length > 0) { %>
        <% xemNhieuNhat.forEach(function(news) { %>
        <div class="col-4 mb-3">
          <a href="/single/<%= news.id %>"
            ><img class="w-100" src="<%= news.link_hinh_anh %>" alt=""
          /></a>
        </div>
        <% }); %>
        <% } %>
        <!--News Photos Card Start-->
      </div>
    </div>
    <!--News Photos End-->
  </div>
</div>
<div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111">
  <p class="m-0 text-center">
    &copy; <a href="#">Your Site Name</a>. All Rights Reserved.

    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
    Design by <a href="https://htmlcodex.com">HTML Codex</a>
  </p>
</div>
