<div class="col-12">
  <div class="section-title">
    <h4 class="m-0 text-uppercase font-weight-bold">Tin mới nhất</h4>
    <a class="text-secondary font-weight-medium text-decoration-none" href=""
      >Xem tất cả</a
    >
  </div>
</div>
<% if (moiNhat && moiNhat.length > 0) { %>
<% moiNhat.forEach(function(news) { %>
<div class="col-lg-6">
  <div class="position-relative mb-3">
    <img
      class="img-fluid w-100"
      src="<%= news.link_hinh_anh %>"
      style="object-fit: cover"
    />
    <div class="bg-white border border-top-0 p-4">
      <div class="mb-2">
        <a
          class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
          href="category/<%= news.id_danh_muc %>"
          ><%= news.ten_danh_muc %></a
        >
        <a class="text-body" href=""><small><%= news.ngay_dang %></small></a>
      </div>
      <a
        class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold"
        href="/single/<%= news.id %>"
        ><%= news.tieu_de %></a
      >
      <p class="m-0">
        <%= news.tom_tat %>
      </p>
    </div>
    <div
      class="d-flex justify-content-between bg-white border border-top-0 p-4"
    >
      <div class="d-flex align-items-center">
        <img
          class="rounded-circle mr-2"
          src="client/images/user.jpg"
          width="25"
          height="25"
          alt=""
        />
        <small><%= news.tac_gia %></small>
      </div>
      <div class="d-flex align-items-center">
        <small class="ml-3"><i class="far fa-eye mr-2"></i><%= news.luot_xem %></small>
        <small class="ml-3"><i class="far fa-comment mr-2"></i><%= news.so_luong_binh_luan %></small>
      </div>
    </div>
  </div>
</div>
<% }); %>
<% } %>
