<div class="position-relative mb-3">
  <img
    class="img-fluid w-100"
    src="<%= chiTietTin.link_hinh_anh %>"
    style="object-fit: cover"
  />
  <div class="bg-white border border-top-0 p-4">
    <div class="mb-3">
      <a
        class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
        href="/category/<%= chiTietTin.id_danh_muc %>"
        ><%= chiTietTin.ten_danh_muc %></a
      >
      <a class="text-body" href=""><%= chiTietTin.ngay_dang %></a>
    </div>
    <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">
      <%= chiTietTin.tieu_de %>
    </h1>
    <p><%= chiTietTin.tom_tat %></p>
    <p><%= chiTietTin.noi_dung %></p>
  </div>
  <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
    <div class="d-flex align-items-center">
      <img
        class="rounded-circle mr-2"
        src="client/imagesuser.jpg"
        width="25"
        height="25"
        alt=""
      />
      <span><%= chiTietTin.tac_gia %> </span>
    </div>
    <div class="d-flex align-items-center">
      <span class="ml-3"><i class="far fa-eye mr-2"></i>12345</span>
      <span class="ml-3"><i class="far fa-comment mr-2"></i>123</span>
    </div>
  </div>
</div>
