<!-- News With Sidebar Start -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- News Detail Start -->
        <%- include('../partials/news-detail', { chiTietTin: chiTietTin }) %>
        <!-- News Detail End -->

        <!-- Comment List Start -->
        <%- include('../partials/comment-list', { chiTietTin: chiTietTin }) %>
        <!-- Comment List End -->

        <!-- Comment Form Start -->
        <%- include('../partials/comment-form',{ chiTietTin: chiTietTin }) %>
        <!-- Comment Form End -->
      </div>

      <div class="col-lg-4">
        <!-- Social Follow Start -->
        <%- include('../partials/social') %>
        <!-- Social Follow End -->

        <!-- Popular News Start -->
        <%- include('../partials/trending-news') %>
        <!-- Popular News End -->

        <!-- Newsletter Start -->
        <%- include('../partials/newsletter') %>
        <!-- Newsletter End -->

        <!-- Tags Start -->
        <%- include('../partials/tags') %>
        <!-- Tags End -->
      </div>
    </div>
  </div>
</div>
<!-- News With Sidebar End -->
